html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /*1 rem = 10px*/
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top, var(--gris) 0%, var(--blanco) 100%);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.6rem;
}

h1,
h2,
h3 {
    text-align: center;
}

/* Enlaces sin decoración */
a {
    color: inherit;
    /* Mantiene el color del texto circundante */
    text-decoration: none;
    /* Elimina el subrayado */
    transition: color 0.3s ease;
    /* Añade una transición suave para los cambios de color */
}

a:hover {
    color: #007BFF;
    /* Cambia el color al pasar el cursor por encima */
}

a:focus,
a:active {
    outline: none;
    /* Elimina el borde de enfoque predeterminado en algunos navegadores */
}

/* Estilos para listas sin puntos */
ul {
    list-style-type: none;
    /* Elimina las viñetas */
    padding-left: 0;
    /* Elimina el espaciado a la izquierda que suele tener un `ul` */
    margin: 0;
    /* Elimina el margen */
}


.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

img {
    width: 100%;
    object-fit: cover;
}

header {
    display: flex;
    flex-direction: column;
}

header .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header .down {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

main .projects {}

main .projects li {
    width: 100%;
    padding: 1rem;
}

main .experience {
    padding-left: 2rem;
    padding-bottom: 2rem;
}